# 数据库配置
DB_HOST=localhost
DB_NAME=DATABASE_NAME
DB_USER=DATABASE_USERNAME
DB_PASS=DATABASE_PASSWORD

# 邮件配置
SMTP_HOST=smtp.exmple.com
SMTP_USER=YOUR_USERNAME@exmple.com
SMTP_PASS=YOUR_PASSWORD
SMTP_PORT=465